# -------------------------
# 🧠 GIT
# -------------------------
.git
.gitignore


# -------------------------
# ☕ JAVA / MAVEN (backend)
# -------------------------
*.log

# Maven wrapper cache
.mvn/wrapper/maven-wrapper.jar

# -------------------------
# 🐳 DOCKER
# -------------------------
Dockerfile*
docker-compose*
.dockerignore



# -------------------------
# 💻 OS / IDE
# -------------------------
.DS_Store
Thumbs.db

# VSCode
.vscode/

# IntelliJ / JetBrains
.idea/
*.iml

# -------------------------
# 🧪 TEST / TEMP FILES
# -------------------------
coverage/
tmp/
temp/

# -------------------------
# 📁 Misc
# -------------------------
*.md

secrets.properties